# Ignore wp-config.php (contains sensitive information)
wp-config.php

# Ignore WordPress core files
wp-admin/
wp-includes/

# Ignore the default themes and plugins
wp-content/themes/twenty*
wp-content/plugins/*

# Ignore cache files and backups
cache/
backup/

# Ignore uploaded files
wp-content/uploads/

# Ignore other files or directories (as needed)

